
a {
    text-decoration: none;
    color: green;
}

.active {
    color: white;
}

.rightSide {
    display: flex;
    gap: 10px;
    align-items: center;
}
.rightSide i {
    color: white;
}

@media screen and (max-width: 450px) {
    .nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .leftSide {
        flex-direction: column;
    }
}